body{
    background-color: darkcyan;
}
.App{
    background-color: rgb(4, 14, 14);
    min-height: 500px;
    width: 600px;
    margin: 40px;

}
.top-empty-row {
    height: 10vh;
}
.section-title, .section-input, .section-list {
    display: flex;
    justify-content: center;
    margin: 150px, 40px, 40px, 40px;
    height: 30px;
    border-radius: 10px;
    /* padding: 20px */

}
.task-input {
    border-radius: 7px;
    border: none;
}

.add-btn {
    background: rgb(106, 132, 30);
    margin: 10px;
    height: 30px;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
    margin-top: -1px;
    border: none;

}
.add-icon {
    vertical-align: middle;
}
.list-top-empty-row {
    height: 10em;
}
.list {
  /* margin-top: 5%; */
  list-style-type: none;
}
.listItem {
height:auto;
color: rgb(228, 250, 35);
width: 200px;
margin: 20px auto;
border-radius: 5px;
background-color: darkcyan;
}
.listItem p {
padding: 10px;

}
.del-btn{
background: rgb(106, 132, 30);
border: none;
border-radius: 7px;
color: rgb(14, 9, 9);
font-weight: 200;
cursor: pointer;
margin-left: 20px;
padding: 7px;
color: white

}
.del-icon {
    vertical-align: middle;
    width: 30px;
    
    
}